testxsd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xtsm_viewer="http://braid.phys.psu.edu/xtsm_viewer">
<xs:element name="XTSM" type="XTSM" />

  
    <xs:complexType name="XTSM">
     <xs:sequence>
      <xs:element name="head" type="head" maxOccurs="1" minOccurs="1"/>
      <xs:element name="body" type="body" maxOccurs="1" minOccurs="1"/>
      <xs:element name="SequenceSelector" type="SequenceSelector" maxOccurs="1" minOccurs="1"/>
     </xs:sequence>
	  <xs:anyAttribute processContents="lax" />
    </xs:complexType>

  <xs:complexType name="SequenceSelector">
    <xs:annotation><xs:appinfo><xtsm_viewer:parsable value="true"/></xs:appinfo></xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="head">
    <xs:sequence>
      <xs:element name="ChannelMap" type="ChannelMap" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="XTSM_general_atts"/>
    <xs:attributeGroup ref="XTSM_viewer_atts"/>
  </xs:complexType>

   <xs:complexType name="ChannelMap">
     <xs:sequence>
      <xs:element name="Channel" type="Channel" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="TimingGroupData" type="TimingGroupData" maxOccurs="unbounded" minOccurs="0"/>
     </xs:sequence>
     <xs:attributeGroup ref="XTSM_general_atts"/>
     <xs:attributeGroup ref="XTSM_viewer_atts"/>
   </xs:complexType>

    <xs:complexType name="Channel">
	  <xs:all minOccurs="0">
      <xs:element name="Description" type="Description" />
      <xs:element name="ChannelName" type="ChannelName"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="Comments" type="Comments"/>
      <xs:element name="TimingGroup" type="TimingGroup"/>
      <xs:element name="TimingGroupIndex" type="TimingGroupIndex"/>
      <xs:element name="ConnectsTo" type="ConnectsTo"/>
      <xs:element name="Group" type="Group"/>
      <xs:element name="HoldingValue" type="HoldingValue"/>
      <xs:element name="Calibration" type="Calibration"/>
      <xs:element name="MinValue" type="MinValue"/>
      <xs:element name="MaxValue" type="MaxValue"/>
      <xs:element name="MaxDuty" type="MaxDuty"/>
      <xs:element name="MaxDuration" type="MaxDuration"/>
      <xs:element name="MaxTriggers" type="MaxTriggers"/>
    </xs:all>
    <xs:attributeGroup ref="XTSM_general_atts"/>
    <xs:attributeGroup ref="XTSM_viewer_atts"/>
    </xs:complexType>

    <xs:complexType name="TimingGroupData">
	  <xs:all minOccurs="0">
      <xs:element name="Name" type="Name"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="Comments" type="Comments"/>
      <xs:element name="GroupNumber" type="GroupNumber"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="ClockedBy" type="ClockedBy"/>
      <xs:element name="Group" type="Group"/>
      <xs:element name="ChannelCount" type="ChannelCount"/>
      <xs:element name="Calibration" type="Calibration"/>
      <xs:element name="Scale" type="Scale"/>
      <xs:element name="ResolutionBits" type="ResolutionBits"/>
      <xs:element name="ClockPeriod" type="ClockPeriod"/>
      <xs:element name="SelfClockPeriod" type="SelfClockPeriod"/>
      <xs:element name="DelayTrain" type="DelayTrain"/>
    </xs:all>
    <xs:attributeGroup ref="XTSM_general_atts"/>
    <xs:attributeGroup ref="XTSM_viewer_atts"/>
    </xs:complexType>

  
  <xs:complexType name="body">
    <xs:sequence>
      <xs:element name="Sequence" type="Sequence" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="XTSM_general_atts"/>
    <xs:attributeGroup ref="XTSM_viewer_atts"/>
  </xs:complexType>

  <xs:complexType name="Sequence">
    <xs:sequence>
      <xs:element name="Name" type="Name"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="Description" type="Description" />
      <xs:element name="EndTime" type="EndTime" />
      <xs:element name="SubSequence" type="SubSequence" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="Edge" type="Edge" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="Interval" type="Interval" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="XTSM_general_atts"/>
    <xs:attributeGroup ref="XTSM_viewer_atts"/>
  </xs:complexType>

    <xs:complexType name="SubSequence">
    <xs:sequence>
      <xs:element name="Name" type="Name"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="Description" type="Description" />
      <xs:element name="EndTime" type="EndTime" maxOccurs="1" minOccurs="0"/>
      <xs:element name="StartTime" type="StartTime" maxOccurs="1" minOccurs="1"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="SubSequence" type="SubSequence" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="Edge" type="Edge" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="Interval" type="Interval" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="XTSM_general_atts"/>
    <xs:attributeGroup ref="XTSM_viewer_atts"/>
  </xs:complexType>

  <xs:complexType name="Edge">
    <xs:sequence>
      <xs:element name="Name" type="Name"/>
      <xs:element name="Description" type="Description" />
      <xs:element name="Time" type="Time" maxOccurs="1" minOccurs="1"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="Value" type="Value" maxOccurs="1" minOccurs="1"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="OnChannel" type="OnChannel" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="XTSM_general_atts"/>
    <xs:attributeGroup ref="XTSM_viewer_atts"/>
  </xs:complexType>

   <xs:complexType name="Interval">
    <xs:sequence>
      <xs:element name="Name" type="Name"/>
      <xs:element name="Description" type="Description" />
      <xs:element name="StartTime" type="StartTime" maxOccurs="1" minOccurs="1"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="EndTime" type="EndTime" maxOccurs="1" minOccurs="1"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="Value" type="Value" maxOccurs="1" minOccurs="1"><xs:annotation><xs:appinfo><xtsm_viewer:topline value="true"/></xs:appinfo></xs:annotation></xs:element>
      <xs:element name="OnChannel" type="OnChannel" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="XTSM_general_atts"/>
    <xs:attributeGroup ref="XTSM_viewer_atts"/>
  </xs:complexType>

  <xs:complexType name="Name">
	  <xs:simpleContent>
	    <xs:extension base="xs:string">
	      <xs:attributeGroup ref="XTSM_general_atts"/>
	      <xs:attributeGroup ref="XTSM_viewer_atts"/>
	    </xs:extension>
	  </xs:simpleContent>
	 </xs:complexType>

  <xs:complexType name="OnChannel">
    <xs:annotation><xs:appinfo><xtsm_viewer:autocomplete value='XTSM/head/ChannelMap/Channel/ChannelName[starts-with(.,$)]'/></xs:appinfo></xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ChannelName">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ClockedBy">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Calibration">
    <xs:annotation><xs:appinfo><xtsm_viewer:parsable value="true"/></xs:appinfo></xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

    <xs:complexType name="Time">
    <xs:annotation><xs:appinfo><xtsm_viewer:parsable value="true"/></xs:appinfo></xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

    <xs:complexType name="Value">
    <xs:annotation><xs:appinfo><xtsm_viewer:parsable value="true"/></xs:appinfo></xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Description">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="Comments">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ConnectsTo">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Group">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TimingGroup">
    <xs:simpleContent>
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ChannelCount">
    <xs:simpleContent>
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TimingGroupIndex">
    <xs:simpleContent>
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ResolutionBits">
    <xs:simpleContent>
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="HoldingValue">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ClockPeriod">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="SelfClockPeriod">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Scale">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MinValue">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MaxValue">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MaxDuty">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MaxDuration">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="EndTime">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="StartTime">
    <xs:annotation><xs:appinfo><xtsm_viewer:parsable value="true"/></xs:appinfo></xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MaxTriggers">
    <xs:simpleContent>
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GroupNumber">
    <xs:simpleContent>
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DelayTrain">
    <xs:simpleContent>
      <xs:extension base="xs:boolean">
        <xs:attributeGroup ref="XTSM_general_atts"/>
        <xs:attributeGroup ref="XTSM_viewer_atts"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:attributeGroup name="XTSM_viewer_atts">
	  <xs:attribute name="highlighted" type="xs:boolean"/>
	  <xs:attribute name="selected" type="xs:boolean"/>
	  <xs:attribute name="locked" type="xs:boolean"/>
	</xs:attributeGroup>

    <xs:attributeGroup name="XTSM_general_atts">
	  <xs:attribute name="uid" type="xs:string"/>
	  <xs:attribute name="disabled" type="xs:boolean"/>
	</xs:attributeGroup>

    <xs:attributeGroup name="XTSM_mathparser_atts">
	  <xs:attribute name="current_value" type="xs:string"/>
	  <xs:attribute name="parser_error" type="xs:string"/>
	</xs:attributeGroup>

  
</xs:schema>